<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nsu.advising.advising">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/luncher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.nsu.advising.QuickAdvising.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nsu.advising.QuickAdvising.MainActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.CgpaActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.FirstSemester"
            android:label="@string/title_activity_first_semester"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.AddResultFirst"
            android:label="@string/title_activity_add_result_first"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.SecondSemester"
            android:label="@string/title_activity_second_semester"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.AddResultSecond"
            android:label="@string/title_activity_add_result_second"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.ThirdSemester"
            android:label="@string/title_activity_third_semester"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.AddResultThird"
            android:label="@string/title_activity_add_result_third"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.FourthSemester"
            android:label="@string/title_activity_fourth_semester"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.AddResultFourth"
            android:label="@string/title_activity_add_result_fourth"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.FifthSemester"
            android:label="@string/title_activity_fifth_semester"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.AddResultFifth"
            android:label="@string/title_activity_add_result_fifth"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.SixthSemester"
            android:label="@string/title_activity_sixth_semester"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.AddResultSixth"
            android:label="@string/title_activity_add_result_sixth"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.SeventhSemester"
            android:label="@string/title_activity_seventh_semester"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.AddResultSeventh"
            android:label="@string/title_activity_add_result_seventh"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.EighthSemester"
            android:label="@string/title_activity_eighth_semester"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.AddResultEighth"
            android:label="@string/title_activity_add_result_eighth"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.NinethSemester"
            android:label="@string/title_activity_nineth_semester"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.AddResultNineth"
            android:label="@string/title_activity_add_result_nineth"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.TenthSemester"
            android:label="@string/title_activity_tenth_semester"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.AddResultTenth"
            android:label="@string/title_activity_add_result_tenth"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.EleventhSemester"
            android:label="@string/title_activity_eleventh_semester"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.AddResultEleventh"
            android:label="@string/title_activity_add_result_eleventh"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.TwelvethSemester"
            android:label="@string/title_activity_twelveth_semester"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.AddResultTwelveth"
            android:label="@string/title_activity_add_result_twelveth"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.splashscreen"
            android:label="splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nsu.advising.QuickAdvising.SellerBookList"
            android:label="booklist"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.nsu.advising.QuickAdvising.SellBooksRequest" />

        <receiver android:name="com.nsu.advising.QuickAdvising.Notification_reciver" />

        <activity android:name="com.nsu.advising.QuickAdvising.BuyerBookActivity"></activity>
    </application>

</manifest>